* {
  box-sizing: border-box;
}

body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: bisque;
}

header {
  padding: 0.5rem;
  background-color: black;
  text-align: center;
  color: aliceblue;
}

main {
  position: relative;
  width: 80%;
  padding: 1rem;
  margin: 0 auto;
}

.container {
  position: absolute;
  top: 35rem;
  right: 2rem;
  left: 4rem;
  width: 500px;
  margin: 0 auto;
  border: 3px solid blue;
  padding: 1rem;
  border-radius: 6px;
}

.container form input {
  width: 100%;
  margin: 0.8rem auto;
  padding: 0.5rem;
}

button {
  width: 100%;
  margin: 0.8rem auto;
  padding: 0.3rem;
  cursor: pointer;
}

.all-cards {
  position: absolute;
  top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.all-cards li {
  width: 400px;
  list-style: none;
  background-color: rgb(254, 111, 59);
  border: 2px solid black;
  padding: 0.5rem;
  text-align: left;
  margin: 1.5rem;
}

