body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-color: pink;
  font-family: Arial, Helvetica, sans-serif¯;
}

.container {
  width: 30%;
  border: 1px solid rgb(131, 129, 129);
  margin: 5rem auto;
  padding: 1rem;
  background-color: aliceblue;
  border-radius: 6px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.form-control label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.form-control input {
  padding: 0.8rem;
}

button {
  padding: 0.5rem;
  font-size: 1.2rem;
  width: 100%;
}

input:required {
  background-color: rgb(248, 182, 182);
  border: 2px solid red;
}

input:valid {
  border: 2px solid rgb(4, 193, 4);
  background-color: rgb(195, 245, 195);
}

input:invalid {
  border: 2px dashed red;
}
