*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 20px 0;
  background: #6589f9;
}

.grid {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  position: relative;
  height: 150px;
  width: 150px;
  margin: 5px;
  transform-style: preserve-3d;
  transition: transform 0.4s linear;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card .front,
.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  background: #fab942 url("../img/question.gif") no-repeat center center;
  background-size: contain;
}

.back {
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transform: rotateY(180deg);
}

.selected {
  border: 4px solid blue;
}

.match {
  border: 4px solid red;
  background-image: none !important;
}
