body {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

header {
  padding: 2rem;
}

h1 {
  padding: 1rem;
  width: 15rem;
  text-align: center;
}

.all-boxes {
  width: 90%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.color {
  width: 9rem;
  height: 9rem;
  margin: 0.5rem;
  cursor: pointer;
}
